@import "tailwindcss";


@layer base {
    @theme {
        --color-primary: #FFFFFF;
        --color-secondary: #000000;

        --color-bg-primary: #F0F0F0;
        --color-bg-secondary: #252525;
    }
}