@import "tailwindcss";

*{
  scroll-behavior: smooth;
}

:root {
  --color-primary: #E9E9E9;
  --color-secondary: #ededed;
  --color-third: #f8f8f8e6;

  --text-primary: #222222;
  --text-secondary: #000000;

  --text-title: 12rem;

  --font-anton: "--font-anton";
  --font-inter: "--font-inter";
}